<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://cdn.bootcss.com/bootstrap-table/1.10.1/bootstrap-table.min.css" rel="stylesheet">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }
    </style>
</head>
<body ng-controller="ctrl" ng-cloak>

    <bt-table columns="columns"
              rows="items"
              pager="pager"
              page-changed="pageChanged()"
              row-click="row_click(row, index)"
              cell-callback="edit(args, row, index)"
              radio-item="radioItem"
              radio-class="danger"
              refresh="refresh()">
        <toolbar-left>
            <div class="form-inline">
                <div class="btn-toolbar form-inline">
                    <a class="btn btn-sm btn-success" ng-click="new()">new</a>
                    <a class="btn btn-sm btn-danger" ng-click="remove()">remove</a>
                </div>
            </div>
        </toolbar-left>
        <toolbar-right>
            <button class="btn btn-default" type="button" name="refresh" ng-click="refresh()" title="刷新">
                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
            </button>
            <bt-show-columns columns="columns"></bt-show-columns>
        </toolbar-right>
    </bt-table>

    <script src="http://cdn.bootcss.com/angular.js/1.5.6/angular.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.5.6/angular-animate.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-bootstrap/1.2.1/ui-bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-bootstrap/1.2.1/ui-bootstrap-tpls.min.js"></script>

    <script src="./bt-table.js"></script>

    <script>
        var app = angular.module('app', ['ngAnimate', 'ui.bootstrap', 'bt-table'])

        app.controller('ctrl', function ($scope) {
            $scope.columns = [
                {
                    title: 'id',
                    field: 'id',
                    sortable: true,
                },
                {
                    title: 'name',
                    field: 'name',
                    //sortable: true,
                },
                {
                    title: 'edit',
                    formatter: '<div><a class="btn btn-xs" ng-click=callback("edit")>edit</a></div>',
                },
            ]

            $scope.items = [
                { id: 1, name: 'name1' },
                { id: 2, name: 'name2' },
                { id: 3, name: 'name3' },
            ]

            $scope.radioItem = $scope.items[1]

            $scope.pager = {
                page_no: 1,
                page_size: 10,
                sort_name: 'id',
                is_desc: true,
                total_result: 100,
            }

            $scope.row_click = function (item, index) {
                item.$checked = !item.$checked;
                $scope.radioItem = item;
            }

            $scope.pageChanged = function () {
                console.log('pageChanged')
            }

            $scope.edit = function (args, item, index) {
                console.log(args[0], item, index)
            }

            $scope.refresh = function () {
                console.log('refresh')
            }
        })

    </script>


</body>
</html>
