
<div class="fixed-table-pagination" style="display: block;">
    <div class="pull-left pagination-detail">
        <span class="pagination-info">显示第 {{(page - 1) * itemsPerPage + 1}} 到第 {{getCurrentCount()}} 条记录，总共 {{totalItems}} 条记录</span>
        <span class="page-list">
            每页显示
            <bt-dropdown btn-txt="itemsPerPage" is-open="isOpen">
                <li ng-class="{ active: itemsPerPage == size }" ng-repeat="size in [10,25,50,100] track by $index">
                    <a ng-click="setPageSize(size)">{{::size}}</a>
                </li>
            </bt-dropdown> 条记录
        </span>
    </div>
    <div class="pull-right pagination" ng-show="totalItems > itemsPerPage">
        <ul class="pagination">
            <li class="page-pre" ng-if="page === 1">
                <a style="cursor:pointer;" ng-click="selectPage(page - 1)">‹</a>
            </li>
            <li class="page-number" ng-repeat="page in pages track by $index" ng-class="{active: page.active, disabled: page.disabled}">
                <a style="cursor:pointer;" ng-click="selectPage(page.number)">{{page.text}}</a>
            </li>
            <li class="page-nex" ng-if="page === totalPages">
                <a style="cursor:pointer;" ng-click="selectPage(page + 1)">›</a>
            </li>
        </ul>
    </div>
</div>