<div class="keep-open btn-group" ng-class="{ open: show }">
    <button type="button" class="btn btn-default dropdown-toggle" ng-click="show=!show">
        <i class="glyphicon glyphicon-th icon-th">
        </i>
        <span class="caret">
        </span>
    </button>
    <ul class="dropdown-menu" ng-show="show" aria-labelledby="simple-dropdown">
        <li ng-repeat="col in columns">
            <label>
                <input type="checkbox" ng-model="col.visible">
                {{col.title}}
            </label>
        </li>
    </ul>
</div>