
<div class="fixed-table-pagination" style="display: block;">
    <div class="pull-left pagination-detail">
        <span class="pagination-info">显示第 {{(page - 1) * itemsPerPage + 1}} 到第 {{getCurrentCount()}} 条记录，总共 {{totalItems}} 条记录</span>
        <span class="page-list" ng-show="totalItems > itemsPerPage">
            每页显示
            <span uib-dropdown class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                    <span class="page-size">{{itemsPerPage}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-class="{ active: itemsPerPage == size }" ng-repeat="size in [10,25,50,100] track by $index">
                        <a ng-click="setPageSize(size)">{{::size}}</a>
                    </li>
                </ul>
            </span> 条记录
        </span>
    </div>
    <div class="pull-right pagination" ng-show="totalItems > itemsPerPage">
        <ul class="pagination">
            <li class="page-pre" ng-if="!noPrevious()">
                <a style="cursor:pointer;" ng-click="selectPage(page - 1)">上一页</a>
            </li>
            <li class="page-number" ng-repeat="page in pages track by $index" ng-class="{active: page.active, disabled: page.disabled}">
                <a style="cursor:pointer;" ng-click="selectPage(page.number)">{{page.text}}</a>
            </li>
            <li class="page-nex" ng-if="!noNext()">
                <a style="cursor:pointer;" ng-click="selectPage(page + 1)">下一页</a>
            </li>
        </ul>
    </div>
</div>
